/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins&family=Sorts+Mill+Goudy:ital@1&display=swap');
*{
    overflow-x: hidden;
    overflow-y: hidden;
    user-select: none;

}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    background-image: url(images/bg1.png);
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}
.form{
    background-image: url(images/bg1.png);
    background-size: cover;
}
.contact_heading{
  font-family: 'Archivo Black', sans-serif;
}
.name{
    font-family: 'Archivo Black', sans-serif;
  /* text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15); */
}
.sign{
    font-family: 'Sorts Mill Goudy', serif;
}
.project_title{
  font-family: 'Archivo Black', sans-serif;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  swiper-container {
    margin-left: auto;
    margin-right: auto;
  }
  .name_hidden{
    opacity: 0;
    margin-right: 50%;
    transition: all 2s;
  }
  .show{
    opacity: 1;
    margin-right: 0;
  }
  .me_info{
    opacity: 0;
    transition: all 2s;
  }
  .appear{
    opacity: 1;
  }
.dropdown_menu, .dropdown_menu1, .dropdown_menu2, .dropdown_menu3 {
  height: 0;
  transition: height 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  display: none;
  z-index: 3;

}
.dropdown_menu.open, .dropdown_menu1.open, .dropdown_menu2.open, .dropdown_menu3.open {
  height: 275px;
  display: block;
}